:root {
    --body-background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    --primary-color: #4B5D68;
    --secondary-color: #212353;
    --primary-background: #fff;
    --secondary-background: rgba(240, 99, 184, 0.15);
    --btn-background-more: #9C69E2;
    --btn-color-more: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/Avenir/Avenir-Roman.woff2") format("woff2"), url("../assets/fonts/Avenir/Avenir-Roman.woff") format("woff"), url("../assets/fonts/Avenir/Avenir-Roman.ttf") format("truetype"), url("../assets/fonts/Avenir/Avenir-Roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/Helvetic/HelveticaRegular.woff") format("woff"), url("../assets/fonts/Helvetic/HelveticaRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--body-background);
    color: var(--primary-color);
    font-family: "Avenir", "Helvetica", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 70rem;
    min-width: 20rem;
    margin: 0 auto;
}

.header {
    margin-top: 50px;
    margin-bottom: 200px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-left: 121px;
    max-width: 322px;
    width: 100%;
    list-style-type: none;
}

.menu__link {
    font-size: 16px;
    line-height: 26px;
    transition: 0.2s;
}

.menu__link:hover {
    color: var(--secondary-color);
    font-weight: 800;
}

.button {
    border-radius: 50px;
    border: none;
    font-weight: 800;
    height: 60px;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.request-button {
    min-width: 210px;
    margin-left: auto;
    background: var(--primary-background);
    box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
    font-size: 16px;
    transition: ease-in-out 0.2s;
}

.request-button:hover,
.request-button:focus {
    transform: scale(0.9);
    box-shadow: 0 0 5px 3px rgba(75, 93, 104, 0.1);
}

.banner {
    margin-top: 145px;
    position: relative;
}

.banner:after {
    content: '';
    position: absolute;
    top: 80px;
    left: 10%;
    background: url(../assets/img/banner.png) no-repeat 100% 100%;
    height: 468px;
    width: 100%;
}

.banner__description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    max-width: 645px;
}

.banner__title {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    color: var(--secondary-color);
}

.banner__text {
    max-width: 380px;
    width: 100%;
}

.banner__text,
.button-more {
    margin-top: 50px;
    padding: 0 21px;
}

.button-more {
    background: var(--btn-background-more);
    min-width: 170px;
    font-size: 18px;
    color: var(--btn-color-more);
}

.advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 180px;

    background: var(--secondary-background);
    border-radius: 50px;
}


.advantage__img {
    margin-right: 62px;
}

.advantage__description,
.advantage__img {
    max-width: 475px;
}

.advantage__title {
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--secondary-color);
}

.advantage__text {
    font-size: 18px;
    line-height: 29px;
    padding: 0 5px;
}

.features {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 70px;
    margin-bottom: 180px;
}

.row-features-top {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
}

.features__title {
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    line-height: 52px;
    color: var(--secondary-color);
}

.features__text {
    max-width: 584px;
    width: 100%;
    padding: 0 5px;
}


.row-features-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 150px 50px;
}

.features-item {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
}

.features-item-link__img {
    max-width: 100%;
}

.features-item__description {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}


.features-item-link {
    display: grid;
    grid-template-columns: 87px 20px;
    justify-self: start;
    align-items: center;
}


.testimonials {
    display: grid;
    padding: 100px 60px 60px 90px;
    background: var(--btn-background-more);
    border-radius: 50px;
    margin-bottom: 150px;
    border-bottom: 2px solid var(--btn-background-more);
}

.testimonials__title {
    margin-bottom: 80px;
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
    color: var(--btn-color-more);
}

.testimonials__cards {
    padding: 60px 100px;
    background: var(--btn-color-more);
    box-shadow: 0 20px 0 #8a56db;
    border-radius: 20px;
}

.testimonials-card__item {
    display: grid;
    grid-template-columns: 134px auto;
    align-items: center;
    gap: 0 45px;
}

.testimonials-card__description {
    grid-row-start: 2;
    grid-column-start: 2;
}

.testimonials-card-author {
    display: grid;
    justify-self: start;
}

.testimonials-card-author__name {
    font-size: 18px;
    line-height: 29px;
    font-weight: bold;
}

.testimonials-card-author__web {
    color: var(--btn-background-more);
    font-size: 14px;
    line-height: 22px;
}


.testimonials-control__link {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--primary-background);
}


.testimonials-control__link_selected {
    width: 10px;
    height: 10px;
    background: #F063B8;
}

.testimonials-control {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.testimonials-control__item {
    grid-template-columns: auto auto auto auto;
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.testimonials-control__item_btn {
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: end;
}

.testimonials-control__button {
    height: auto;
    background: none;
}

.footer {
    padding: 0 0 100px;
}

.footer-offer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.footer-offer__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 410px;
}

.footer-offer__title {
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    line-height: 52px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.footer-offer__description {
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
}

.footer-offer__item_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.request-button_footer,
.button-more_footer {
    margin: auto;
}

.button-more_footer {
    background: #F063B8;
}

.footer-nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 240px auto auto 178px;
    font-size: 16px;
    margin-bottom: 90px;
    color: var(--secondary-color);
}

.footer-nav__item {
    display: flex;
    flex-direction: column;
}

.footer-nav__title {
    margin-bottom: 40px;
    font-size: 16px;
}

.logo_footer {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.logo__company {
    margin-left: 20px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 900;
}

.footer-nav__address {
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 29px;
}

.footer-nav__contact {
    display: flex;
    flex-direction: column;
}

.footer-nav__email {
    margin-bottom: 5px;
}

.footer-nav__email,
.footer-nav__phone {
    line-height: 29px;
    letter-spacing: 0.01em;
    transition: 0.2s;
}

.footer-nav__email:hover,
.footer-nav__phone:hover {
    color: #F063B8;
    transition: 0.2s;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
}

.footer-nav-list__tem:not(:last-child) {
    margin-bottom: 20px;
}

.footer-nav-list__link {
    transition: 0.2s;
}

.footer-nav-list__link:hover {
    color: #F063B8;
    transition: 0.2s;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social__item {
    transition: 0.2s;
}

.social__item:hover {
    filter: drop-shadow(0px 0px 5px var(--secondary-color));
    transition: 0.2s;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #e9e9ee;
    border-radius: 100%;
    transition: 0.2s;
}

.social__link:hover {
    background: var(--secondary-color);
    transition: 0.2s;
}

.footer__info {
    max-width: 300px;
}

.footer__copyright {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
}


@media screen and (max-width: 1200px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner:after {
        content: none;
    }

    .banner__description {
        width: 100%;
        margin: auto;
    }

    .banner__text {
        max-width: none;
    }
}

@media screen and (max-width: 1023px) {
    .header-nav {
        flex-direction: column;
    }

    .request-button {
        margin: 20px auto auto;
    }

    .menu {
        margin: 20px auto auto;
    }

    .advantage {
        flex-direction: column;
        padding: 20px 20px 50px;
    }

    .advantage__description,
    .advantage__img {
        max-width: none;
        width: 100%;
    }

    .advantage__img {
        max-width: 545px;
    }

    .row-features-bottom {
        grid-gap: 80px 50px;
    }


    .testimonials {
        padding: 20px;
    }

    .testimonials__cards {
        padding: 20px;
    }

    .testimonials__title {
        margin-bottom: 20px;
    }

    .testimonials-card__description {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 20px;
    }

    .footer-offer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .request-button_footer {
        margin: auto;
    }

    .footer-offer__item {
        max-width: none;
        margin-top: 20px;
        width: 100%;
    }


    .footer-nav {
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        gap: 50px 30px;
    }

    .social {
        justify-content: flex-start;
    }

    .social__item {
        margin-right: 14px;
    }

}


@media screen and (max-width: 480px) {
    .testimonials-card-author {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 15px;
    }

    .testimonials-card__description {
        grid-row-start: 3;
    }

    .footer-nav {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        gap: 50px 30px;
    }

    .footer-nav__item {
        border-bottom: 2px solid #f063b8;
        padding-bottom: 10px;
    }

    .footer-offer__item_button {
        flex-direction: column;
    }

    .request-button_footer {
        margin: 20px auto auto;
    }

    .features-item {
        text-align: center;
    }

    .features-item__img {
        justify-self: center;
    }

}